In [1]:
name = 'John Carter'

In [3]:
print('The name is {}'.format(name))

The name is John Carter

In [4]:
print(f'The name is {name}')

The name is John Carter

### Minwidth and alignment b/w columns

In [6]:
dummy_list = [('Marketing Campaign',5000),
              ('Bobber Bikes',10000),
              ('Road Trip',50000),
             ('Bike Fest',1000)]

In [8]:
dummy_list

[('Marketing Campaign', 5000),
 ('Bobber Bikes', 10000),
 ('Road Trip', 50000),
 ('Bike Fest', 1000)]

In [9]:
for i in dummy_list:
    print(i)

('Marketing Campaign', 5000)
('Bobber Bikes', 10000)
('Road Trip', 50000)
('Bike Fest', 1000)

In [11]:
for i in dummy_list:
    print(f'{i[0]:{50}} {i[1]:{10}}')

Marketing Campaign                                       5000
Bobber Bikes                                            10000
Road Trip                                               50000
Bike Fest                                                1000

In [15]:
for i in dummy_list:
    print(f'{i[0]:{50}}  {i[1]:.>{10}}')

Marketing Campaign                                  ......5000
Bobber Bikes                                        .....10000
Road Trip                                           .....50000
Bike Fest                                           ......1000

### Working with .tsc and .csv files

In [16]:
import pandas as pd

In [17]:
data = pd.read_csv('moviereviews.tsv',sep='\t')

In [18]:
data.head()

  label                                             review
0   neg  how do films like mouse hunt get into theatres...
1   neg  some talented actresses are blessed with a dem...
2   pos  this has been an extraordinary year for austra...
3   pos  according to hollywood movies made in last few...
4   neg  my first press screening of 1998 and already i...

In [19]:
data.shape

(2000, 2)

In [20]:
data['label'].value_counts()

pos    1000
neg    1000
Name: label, dtype: int64

In [21]:
pos = data[data['label']=='pos']

In [22]:
neg = data[data['label']=='neg']

In [28]:
pos.to_csv('pos.tsv',sep='\t', index=False)

In [29]:
neg.to_csv('neg.tsv', sep='\t', index=False)

In [32]:
pd.read_csv('pos.tsv',sep='\t').head()

  label                                             review
0   pos  this has been an extraordinary year for austra...
1   pos  according to hollywood movies made in last few...
2   pos  with stars like sigourney weaver ( " alien " t...
3   pos  i remember hearing about this film when it fir...
4   pos  garry shandling makes his long overdue starrin...

### Built-in magic command in Jupyter

In [34]:
%%writefile text1.txt
This is John Carter
He is an Elite Soldier

Writing text1.txt

In [35]:
%%writefile -a text1.txt
Also, He is a very brave Person

Appending to text1.txt

### Python's builtin Command to read and write text file

In [38]:
file = open('text1.txt', 'r')

In [39]:
file.read()

'This is John Carter\nHe is an Elite Soldier\nAlso, He is a very brave Person\n'

In [48]:
file.read()

''

In [57]:
file.seek(0)

0

In [46]:
file.read()

'This is John Carter\nHe is an Elite Soldier\nAlso, He is a very brave Person\n'

In [53]:
file.readline()

''

In [58]:
file.readlines()

['This is John Carter\n',
 'He is an Elite Soldier\n',
 'Also, He is a very brave Person\n']